<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <div class="para-big">
    <span>Hey {{name}},</span>
    <span>You may be interested to know these artists are performing!</span>
    <div class="para-small">
      <span>Thanks,</span>
      <span>Muse Team</span>
    </div>
  </div>
  <div class="">
    {{#each concerts}}
      <div class="concert-cont">
        <img class="pic" src="{{this.image}}" alt="">
        <div class="details-cont">
          <span class="detail">{{this.artist}}</span>
          <span class="detail">{{this.name}}</span>
          <span class="detail">{{this.dateTime}}</span>
          <span class="detail"><a href="{{this.url}}">Buy tickets!</a> from ${{this.priceRange.min}} to ${{this.priceRange.max}}</span>
        </div>
      </div>
    {{/each}}
  </div>
</html>
